<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalCommunity.project.mappers.CommentMapper">

    <resultMap id="commentList" type="com.animalCommunity.project.models.Comment">
        <result property="uid" column="uid"/>
        <result property="userUid" column="user_uid"/>
        <result property="postUid" column="post_uid"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="deleteyn" column="deleteyn"/>

        <collection property="user" ofType="com.animalCommunity.project.models.User">
            <result property="uid" column="userUid"/>
            <result property="nickname" column="nickname"/>
        </collection>
    </resultMap>

    <select id="commentList" resultMap="commentList"> <!--  댓글 출력  -->
        SELECT ct.content, ct.post_uid, ct.created_at, ut.nickname
        FROM comment_tb AS ct
        INNER JOIN users_tb as ut ON ut.uid = ct.user_uid
        where ct.post_uid=#{postUid} AND ct.deleteyn = 'N' ;
    </select>
    <insert id="commentCreate"> <!--  댓글 입력  -->
        INSERT INTO comment_tb  (user_uid, post_uid, content) values (#{userUid}, #{postUid}, #{content});
    </insert>
    <update id="commentDelete"> <!--  댓글 삭제  -->
        UPDATE comment_tb
        SET deleteyn = 'Y'
        where uid = #{uid} and user_uid = #{userUid}
    </update>
    <update id="commentUpdate">
        UPDATE comment_tb SET content = #{content} WHERE uid = #{uid};
    </update>

</mapper>