<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalCommunity.project.mappers.EmailMapper">
    <update id="rePassword"> <!--  메일 재설정  -->
        update users_tb set pw = #{newPassword} where id = #{userId};
    </update>
    <select id="userCheck">  <!--  id와 메일이 동일한 유저가 있는지 찾음  -->
        select id from users_tb where id = #{userId} and email = #{email}
    </select>
</mapper>