<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalCommunity.project.mappers.PostMapper">

    <resultMap id="postResultMap" type="com.animalCommunity.project.models.Post">
        <result property="uid" column="post_uid"/>
        <result property="createdAt" column="created_at"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="mainUid" column="main_uid"/>
        <result property="pageUid" column="page_uid"/>

        <collection property="user" ofType="com.animalCommunity.project.models.User">
            <result property="uid" column="uid"/>
            <result property="nickname" column="nickname"/>
        </collection>
    </resultMap>



    <insert id="insertPost">
        INSERT into post_tb(user_uid, page_uid, main_uid, title, content)
        value(#{userUid}, #{pageUid}, #{mainUid}, #{title}, #{content})
    </insert>

    <select id="selectPosts" resultMap="postResultMap">
        SELECT post_tb.uid as post_uid, users_tb.nickname, title, post_tb.created_at
        FROM post_tb
        INNER JOIN users_tb
        ON post_tb.user_uid = users_tb.uid
        WHERE page_uid=#{pageUid};
    </select>

    <select id ="myPosts">
        select post_tb.uid as post_uid, users_tb.nickname, main_categories.category_name, post_tb.created_at
        from post_tb
        inner join users_tb on post_tb.user_uid = users_tb.uid
        inner join main_categories on post_tb.main_uid = main_categories.uid
        where post_tb.user_uid = #{userUid};
    </select>

    <update id ="updatePost">
        update post_tb set title = #{title}, content = #{content}, page_uid=#{pageUid}, main_uid=#{mainUid}
        where post_tb.uid=#{uid} and user_uid = #{userUid}
    </update>


</mapper>